<div class="form-group">
    <form class="navbar-form" id="employeeInfo">
        <label class="sr-only" for="first_name">Employee First Name:</label>
        <input type="text" id="first_name" ng-model="input.newEmp.first_name" name="first_name" class="form-control" placeholder="First Name" required/>

        <label class="sr-only" for="last_name">Employee Last Name:</label>
        <input type="text" id="last_name" ng-model="input.newEmp.last_name" name="last_name" class="form-control" placeholder="Last Name" required/>

        <label class="sr-only" for="emp_number">Employee ID Number:</label>
        <input type="number" id="emp_number" ng-model="input.newEmp.emp_number" name="emp_number" class="form-control" placeholder="Employee ID Number" required/>

        <label class="sr-only" for="job_title">Job Title:</label>
        <input type="text" id="job_title" ng-model="input.newEmp.job_title" name="job_title" class="form-control" placeholder="Job Title" required/>

        <label class="sr-only" for="yearly_salary">Yearly Salary:</label>
        <div class="input-group">
            <div class="input-group-addon">$</div>
            <input type="number" id="yearly_salary" ng-model="input.newEmp.yearly_salary" name="yearly_salary" class="form-control" placeholder="Yearly Salary" required/>
        </div>
        <button class="btn btn-default" ng-click="input.addEmp()">Submit</button>
    </form>
</div>
{{input.employees}}
<div class="empEdit form-group" ng-repeat="emp in input.employees">
    <form class="navbar-form">
        <input type="text" ng-model="emp.first_name" class="form-control" />
        <input type="text" ng-model="emp.last_name" class="form-control" />
        <input type="number" ng-model="emp.emp_number" class="form-control" />
        <input type="text" ng-model="emp.job_title" class="form-control" />
        <div class="input-group">
            <div class="input-group-addon">$</div>
            <input type="number" ng-model="emp.yearly_salary" class="form-control" />
        </div>
        <button ng-click="input.editEmp(emp)" class="btn btn-default">Edit</button>
        <button ng-click="input.deleteEmp(emp)" class="btn btn-default">Delete</button>
    </form>
</div>
