<div id="emp_table">
    <table class="table center table-hover table-bordered">
        <thead>
            <tr id="header">
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Emp Number
                </th>
                <th>
                    Job Title
                </th>
                <th>
                    Yearly Salary
                </th>
            </tr>
        </thead>
        <tbody id="body">

        </tbody>
    </table>
</div>
