#header, h1, h2 {
    text-align: center;
    background-color: #E74C3C;
    border: 2px solid #E67E22;
    font-family: 'Space Mono', monospace;
}

body {
    background: #F1C40F;
    font-family: 'Work Sans', sans-serif;
}

table {
    table-layout: fixed;
    border: 1px solid #E67E22;
    padding: 10px;
    margin: 30px;
}

input {
    border-color: #E67E22;
}

#answer {
    border: 1px solid #E67E22;
}

h2, h3 {
    text-align: center;
}

td, th {
    padding: 5px;
    border: 2px solid #E67E22;
}


/*td, th {
    width: 5%;
}*/

table {
    table-layout: fixed;
}
